.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-item:not(:last-of-type) {
  margin-right: 2rem;
}
.nav-item a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-dark-blue);
}
