.assessment-dashboard {
  width: 80%;
  overflow-y: scroll;
  position: relative;
}
.assessment-dashboard::-webkit-scrollbar {
  display: none;
}
.header {
  margin-bottom: 0rem;
}
.header h1 {
  color: #101d31;
  font-size: 3.2em;
}
.assessment-card-container {
  padding: 3rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: space-between;
}

.assessment-past .assessment-card-container {
  padding: 3rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  justify-content: space-between;
}
