.header {
  height: 15vh;
  display: flex;
  align-items: center;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container img {
  height: auto;
  width: 17rem;
}
.user img {
  height: 4.5rem;
  width: 4.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 80%;
}

.user {
  display: flex;
  align-items: center;
  justify-self: center;
}

.user p {
  margin-right: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}
