.account-outer {
  padding: 3vh 0;
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}
.account-outer::-webkit-scrollbar {
  display: none;
}

.account-container {
  width: 60%;
  height: max-content;
  box-shadow: 0 0 10px 2px rgba(29, 53, 87, 0.05);
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #fff;
  margin-bottom: 4vh;
}

.account-header {
  text-align: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(235, 235, 235);
  position: relative;
}
.account-header h4 {
  font-size: 2rem;
  font-weight: 700;
}
.account-form-outer {
  margin-bottom: 2rem;
}
.account-form-field {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.account-form-field label {
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
}

.account-form-field input {
  outline: none;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  border: 1px solid rgb(235, 235, 235);
  color: rgb(95, 95, 95);
}
.save-btn-container {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}
.save-btn-container button {
  padding: 1rem 3rem;
  font-weight: 600;
  border-radius: 2rem;
}

.password-container {
  margin-top: 2rem;
}

.operation-selector-container {
  margin-top: 2rem;
}

.operation-selector {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  border-radius: 0.3rem;
  transition: all 0.2s ease-in-out;
}

.operation-selector p {
  font-size: 1.4rem;
}
.operation-selector span {
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.operation-selector:hover {
  background-color: rgba(29, 53, 87, 0.02);
}

.operation-selector:hover span {
  transform: translateX(10%);
}

.back-arrow-container {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -70%);
  cursor: pointer;
}
