.qn-card {
  min-height: 25vh;
  padding: 2rem;
  display: grid;
  place-content: center;
  margin-bottom: 4rem;
  box-shadow: unset;
}

.qn-card p {
  font-size: 1.6rem;
  color: #5c5c5c;
  font-weight: 500;
}
.ans-card {
  height: 5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: unset;
  padding: 1rem;
}
.ans-card:not(:last-of-type) {
  margin-bottom: 2rem;
}
.ans-card-inner {
  display: flex;
  align-items: center;
}
.ans-card-inner .ans-text {
  margin-left: 0.5rem;
  font-size: 1.6rem;
  color: #5c5c5c;
}
