.container {
  padding: 0 0 2rem;
  background-color: #fff;
  width: 50%;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 2px rgba(29, 53, 87, 0.05);
}
.container-header {
  cursor: pointer;
}
.container-header,
.container-header-top {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0c1b30;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgb(235, 235, 235);
}
.container-header h3 {
  font-weight: bold;
  font-size: 1.6rem;
  margin-right: 1rem;
}
.container-header-top {
  justify-content: center;
}
.container-header-top h3 {
  font-weight: bold;
  font-size: 2rem;
}
.container-header p {
  font-size: 1.6rem;
}

.container-header-inner {
  display: flex;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}
.btn-container button {
  width: 100%;
}
.collpase-btn {
  margin-right: 1rem;
  background-color: transparent;
  color: var(--color-dark-blue);
  transition: all 0.2s ease-in-out;
}

.collpase-btn:hover {
  background-color: var(--color-dark-blue);
  color: #fff;
}

.qn-info-container {
  transition: all 0.2s ease-in-out;
}

.qn-info-container-collapsed {
  height: 0;
  overflow: hidden;
}
