.ans-window {
  min-height: 75vh;
  width: 40rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ans-window-inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  row-gap: 3rem;
}
