.card-header {
  text-align: center;
  color: #0c1b30;
  margin-bottom: 1.5rem;
}
.card-header h3 {
  font-weight: bold;
  font-size: 2.8rem;
}

.card-header p {
  font-size: 1.4rem;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form {
  padding: 2rem 0;
}
.form-field label {
  color: #0c1b30;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.form-field input {
  padding: 1.5rem 1rem;
  font-size: 1.6rem;
  border: 1px solid #efefef;
  color: var(--color-dark-blue);
  outline: none;
  border-radius: 0.3rem;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.form-field input:focus,
.form-field input:active {
  border-color: #bbbbbb;
}
.form-field input::placeholder {
  color: #a6a6a6;
  font-size: 1.3rem;
  font-weight: 300;
}

.form-field-inline {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.form-field-inline input {
  margin-right: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
}
.form-field-inline label {
  color: #0c1b30;
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: unset;
}
.input-container {
  width: 100%;
  position: relative;
}
.password-toggler {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.form-field-button {
  margin-top: 3rem;
}
.link-text {
  text-align: center;
  margin-top: 1rem;
}
.link-text p,
.link-text a {
  font-size: 1.3rem;
  color: var(--color-dark-blue);
  font-weight: 500;
}
.link-text a {
  color: var(--color-light-blue);
  text-decoration: none;
}
