.header {
  background-color: rgb(241, 250, 238, 0.5);
  height: 15vh;
  box-shadow: 0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
