.header {
  background-color: var(--color-header-bg-light);
  width: 100vw;
  height: 12vh;
  box-shadow: 0 0 1.5rem 0.1rem var(--box-shadow-light);
  display: flex;
  align-items: center;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container img {
  height: auto;
  width: 17rem;
}
